body {
    font-family: 'Montserrat', sans-serif;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-size: 62.5%;
}

#quote-box {
    width: 450px;
    height: auto;
    background-color: white;
    
    padding: 40px;
    text-align: center;
    border-radius: 23px;
}
button {
    border-radius: 3px;
}
#text {
    height: max-content;
    text-align: center;
    padding:10px 0;
    font-size: 1.4rem;
}

#author {
    text-align: right;
    padding:10px 0;
    font-size: 1rem;
}

.share {
    display: flex;
    justify-content: flex-start;
    align-items:start;
    transition: all 0.2s ease;
}

.font {
    font-weight: 500;
}
.share-quote {
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    padding:0.5rem;
    margin: 0;
}


#inst-quote {
    margin-left:-13%;
}
#tweet-quote {
    margin-left:-15%;
}
.share {
    border: none;
}
#new-quote {
    height: 100%;
    border:none;
    color: white;
    transition: all 0.2s ease;
}
#new-quote:hover {
    filter: brightness(115%);
}
.buttons {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.share-quote:hover{
    filter: brightness(115%);
}

p {
    color:white;
    margin-top: 10%;
    font-size: 0.6rem;
}